h1 {
    background-color: black;
    color: white;
}
h2 {
    background-color: red;
}
p {
    background-color: cyan;
}

h2#wbdv-module-list { color: blue; }
#wbdv-lessons { color: yellow; }

.wbdv-module {
    background-color: lightgray;
}

.wbdv-module.wbdv-active {
    background-color: darkgray;
}

ul .wbdv-module {
    font-weight: bold
}
